/* GENERICS */


img {
    max-width: 100%;
    max-height: 100%;
}

section {
    font-weight: 600;
    font-size: rem;
    padding-bottom: 3rem;
}

section h2 {
    font-size: 2.6rem;
    margin-bottom: 1.5rem;
}

section h4 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--section-subtitle-txt-color)
}

h2 sup {
    font-size: 1.4rem;
    font-weight: 600;
}

sup {
    font-size: 0.5rem;
}

a {
    text-decoration: none;
}

/* UTILITY */
:root {
    --topnav-bg-color: #000000;
    --bottomnav-bg-color: #fff;
    --buy-now-bg-color: #cd3d0f;
    --section-subtitle-txt-color: #727272;
    --more-info-button-txt-color: #fff;
    --more-info-button-bg-color: #2d64e6;
    --play-plus-bg-color: #bebcbb;
    --play-now-bg-color: #161c3b;
    --play-now-button-bg-color: #fff;
}

.text-white {

    color: white;
}

.text-blue {
    color: #2d64e6
}

.dark-section {
    background-color: #1f1f1f;
}

.buy-now-button {

    background-color: var(--buy-now-bg-color);

    font-weight: 600;




}

.more-info-button {
    background-color: var(--more-info-button-bg-color);
    color: var(--more-info-button-txt-color);
    font-weight: 600;


}

.page-banner {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}







/* HEADER */

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* TOPNAVBAR */

#topnav {
    background-color: var(--topnav-bg-color);
    text-align: end;
}

#bottomnav {
    background-color: var(--bottomnav-bg-color)
}

#topnav #sonylogo {
    height: 15px;
}

/* BOTTOM NAVBAR */

#navbar-left a {
    color: black;
}




#serach-img {
    height: 25px;
}


/* MAIN */
/* JUMBO */

#jumbotron {
    background-image: url(../img/jumbo-bg.png);

    padding-top: 250px;
}

#jumbotron #returnal-logo {
    width: 60%;
}

/* BESTSELLER GAME SECTION */

#best-seller-games img {
    border-radius: 1rem;
}

/* HARDWARE SECTION */

#hardware-section .hardware-item {
    opacity: 0.7;
}

/* RESPONSIVE HARDWARE SECTION*/

@media screen and (min-width: 768px) {


    #hardware-section .hardware-item {
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 50%;

    }

    #hardware-section .hardware-item figure {
        height: 40%
    }
}

/* IT TAKES 2 SECTION */

#It-takes-two-banner {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

#It-takes-two-banner #ITT-logo {
    width: 60%;
}

/* NEW RELEASE SECTION */

#new-release {
    background-color: #1f1f1f;
    color: white;
}

#new-release img {
    border-radius: 1rem;
}

/* PLAYSTATION PLUS SECTION */
#playstation-plus {
    background-color: var(--play-plus-bg-color);
}

.online-banner figure {
    width: 70%;
}

#playstation-plus #play-plus-button {
    background-color: #d9dadc
}

/* PLAYSTATION NOW SECTION */

#playstation-now {
    background-color: var(--play-now-bg-color);
}

#playstation-now #play-now-button {
    background-color: var(--play-now-button-bg-color);
}